body, p
    margin: 0
    font-family: 'Poppins', sans-serif
    // HEADER CONTENT

.top
    $self: &

    background-image: url("../../imgs/header-background.png")
    background-size: cover
    background-repeat: no-repeat
    background-clip: content-box 
    height: 100vh
    width: 100vw
    &__header
        color: white
        background: rgba(0,0,0,0.4)
        height: 10%
        width: 100vw
        display: flex
        align-items: center
        justify-content: space-between
        #{$self}__ph-logo
            display: flex
            #{$self}__logo
                width: 3rem
                height: auto
                margin-left: 7%
            #{$self}__header-text
                margin-left: 3%
                font-size: 2rem
        #{$self}__burger
            width: 3rem
            height: auto
            margin-right: 1rem
        #{$self}__ul-element
            list-style-type: none
            display: flex
            &--none
                display: none
            #{$self}__element


    // MAIN CONTENT

    &__main-content
        height: 90%
        width: 100%
        display: grid
        grid-template-columns: 1fr
        grid-template-rows:  1fr 1.1fr

        #{$self}__main-text
            display: flex
            flex-direction: column
            align-self: center
            align-items: center
            height: 100%
            justify-content: space-around
            #{$self}__text
                margin: 0
                font-size: 2rem
                text-align: center
            #{$self}__input
                width: 70%
                height: 2.6rem
                justify-self: center
                margin-top: 0
                background: rgba(0,0,0,0.8)
                border: none
                border-radius: 50%
        #{$self}__main-weather
            color: white
            display: flex
            flex-direction: column
            align-items: center
            #{$self}__main-cloud
                width: 150px
            #{$self}__main-city
                font-size: 2.7rem
            #{$self}__main-temperature
                font-size: 1.5rem
                
@import 'screen-width' 

::-webkit-input-placeholder
    font-size: 135%
    color: white
    text-indent: 15px
    padding-top: 0px